
.tabbar{
    position: sticky;
    top:0;
    left:0;
    z-index:999;
    line-height: .8rem;
    color:#fff;
    display: flex;
    width: 100%;
    height:.8rem;
    background:#31c27c;
    font-size: $font-base;
    .item{
        flex:1;
        text-align: center;
        position: relative;
        .item-active{
            position: absolute;
            width:.6rem;
            height: .05rem;
            
            bottom:.1rem;
            left: 50%;
            margin-left: -.3rem;
            background: #FFF;
            border-radius:.1rem;
        }
    }
    
}