.song-layout{
    font-size: $font-base;
    height: auto;
    .loading-text{
        text-align: center;
        margin-top: .1rem;
        font-size: .2rem;
        color: #ccc;
    }
    .colum{
        position: relative;
        width: .55rem;
        height: .4rem;
        left: 50%;
        margin-top: 50%;
        margin-left: -.375rem   ;
        .c1{
            display: block;
            width: .1rem;
            height: .1rem;
            background: red;
            opacity: .6;    
            position:absolute;
            left: 0;
            bottom: 0;
            animation:a1 linear 1s infinite;
        }
        @keyframes a1 {
            0%{
                height: .1rem;
            }
            25%{
                height: .2rem;
            }
            50%{
                height: .3rem;
            }
            100%{
                height: .4rem;
            }
        }
        .c2{
            display: block;
            width: .1rem;
            height: .2rem;
            background: red;
            opacity: .6;
            position:absolute;
            left: .2rem;
            bottom: 0;
            animation:a2 linear 1s infinite;
        }
        @keyframes a2 {
            0%{
                height: .2rem;
            }
            25%{
                height: .3rem;
            }
            50%{
                height: .4rem;
            }
            100%{
                height: .1rem;
            }
        }
        .c3{
            display: block;
            width: .1rem;
            height: .3rem;
            background: red;
            opacity: .6;
           
            position:absolute;
            left: .4rem;
            bottom: 0;
            animation:a3 linear 1s infinite;
        }
        @keyframes a3 {
            0%{
                height: .3rem;
            }
            25%{
                height: .4rem;
            }
            50%{
                height: .1rem;
            }
            100%{
                height: .2rem;
            }
        }
        .c4{
            display: block;
            width: .1rem;
            height: .4rem;
            background: red;
            opacity: .6;
            position:absolute;
            left: .6rem;
            bottom: 0;
            animation:a4 linear 1s infinite;
        }
        @keyframes a4 {
            0%{
                height: .4rem;
            }
            25%{
                height: .1rem;
            }
            50%{
                height: .2rem;
            }
            100%{
                height: .3rem;
            }
        }
    }
    .song-list{
        position:absolute;
        background: #fff;
        height: auto;
        width: 100%;
        top: 4rem;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
        line-height: 1rem;
        padding-bottom:1rem;
        .top{
            width: 100%;
            height: 1rem;
            border-bottom: 1px solid #eee;
            display: flex;
            flex-direction: row;
            
            div:nth-child(1){
                flex:.6
            }
            div:nth-child(2){
                flex:.4;
                background:$bg-color;
                height: 100%;
                border-top-right-radius: .2rem;
                text-align: center;
                color:#fff;
            }
        }
        .item{
            width: 100%;
            height: 1rem;
            line-height: 1rem;
            display: flex;
            flex-direction: row;
            
            .num{
                padding: 0 .3rem;
                color:#ccc;
                font-weight: 900;
            }
            .content{
                flex:1;
                border-bottom:1px solid #eee;
                
                .songname{
                    line-height: .5rem;
                    color:#333;
                }
                .songer{
                    line-height:.3rem;
                    font-size: $font-sm;
                    color:#ccc;
                }
            }
        }
    }
    .nav{
        height: 2.3rem;
        padding: 0 .2rem;
        margin-top: 1rem;
        position: absolute;
        .nav-layout{
            height: 100%;
            //background: #000;
            display: flex;
            flex-direction: row;
            
            img{
                width:2.3rem;
                height: 2.3rem;
                border-radius: .1rem;
            }
            .content{
                margin-left: .2rem;
                flex:1;
                color: #FFFFFF;
                font-size: $font-lg;
               // background: #000;
               .creator{
                   display: flex;
                   flex-direction: row;
                   margin-top: .8rem;
                   line-height: .4rem;
                    img{
                        width: .4rem;
                        height: .4rem;
                        border-radius: 50%;
                    }
                    .name{
                        font-size: $font-sm;
                        margin-left: .2rem;
                        font-weight: 0;
                    }
               }
            }
            
        }
    }
    .song-header{
        width: 100%;
        height: 5rem;
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center center;
        filter: blur(50px);
        position: absolute;
    }
    .song-title{
        width: 100%;
        height:.5rem;
        padding: .2rem;
        line-height: .5rem;
        position: fixed;
        top:0;
        z-index: 9;
        .song-title-layout{
            color:#Fff;
            display: flex;
            flex-direction: row;
            font-size: $font-lg;
            .iconfont{
                font-weight: 900;
                color:#fff;
            }
            
        }
    }
}