.play-layout{
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    height:.9rem;
    background: #FFF;
    .play{
        height: 100%;
        padding:0 .2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        .play-header{
            width:.7rem;
            height: .7rem;
            border: 1px solid #eee;
            border-radius: .1rem;
        }
        .play-title{
            height: .7rem;
            line-height: .3rem;
            margin-left: .2rem;
            div:nth-child(1){
                font-size: .3rem;
            }
            div:nth-child(2){
                font-size: .25rem;
                line-height: .5rem;
                color: #bbb;
            }
        }
        .play-btn{
            width: .45rem;
            height: .45rem;
            border: .02rem solid #333;
            border-radius: 50%;
            line-height: .45rem;
            text-align: center;
            .iconfont{
                color:#333;
                margin-left: .04rem;
            }
        }
        .iconaixin1{
            margin-left: .3rem;
            font-size: .45rem;
        }
    }
}