.topmeau-layout{
    position: sticky;
    top:0;
    width: 100%;
    height: .8rem;
    background: $bg-color;
    line-height: .8rem;
    z-index: 9999;
    .topmeau{
        height: 100%;
        padding: 0 .2rem;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        font-size: $font-base;
        color:#fff;
        text{
            flex:1;
            text-align: center;
        }
        .iconfont{
            font-size: .4rem;
            color:#fff;
        }
    }
    
}