.header-layout{
    width: 100%;
    height:4rem;
    font-size:.3rem;
    position: relative;
    .header{
        width: 100%;
        height:2.3rem;
        background:#31c27c;
    }
    .banner{
        height:3.3rem;
        width:90%;
        background-color: red;
        position: absolute;
        top:1.2rem;
        left: 5%;
        border-radius: .1rem;
        overflow: hidden;
        .img{
            width:100%;
            height: auto;
        }
        
    }
}

.am-carousel-wrap-dot{
    zoom:3;
}
.slider-frame{
    border-radius: .2rem !important;
}
.am-carousel-wrap-dot-active>span{
    background:#31c27c;
}


